body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(assets/bg.gif);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-out;
  overflow: hidden;
}

.splash-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Always use cover to fill the entire screen */
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the video */
}

.container {
  min-width: 400px;
  margin: 15px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 1s ease-in;
}

@media only screen and (max-width: 1300px) {
  .container {
    min-width: 80vw;
  }
}

.logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

h1 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.bio {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: block;
  padding: 12px;
  background: black;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.link:hover {
  background: #e8d00f;
}
